<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--下面代码用来当浏览器宽度较小时，右侧展示三个横线，隐藏其他导航项，-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav-demo">
                <span class="sr-only">aaa</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/posts">MyBolb</a>
        </div>
        <div class="collapse navbar-collapse" id="menu-nav-demo">
            <ul class="nav navbar-nav navbar-left">
                <% if(typeof(active)!=='undefined' && active==='user') { %>
                    <li class="active">
                <% } else {%>
                    <li>
                <% }%>

                <% if(!user) { %>
                    <a href="#">个人主页</a>
                <% } else {%>
                    <a href="/posts?author=<%=user._id%>">个人主页</a>
                <% }%>
                </li>
                <% if(user) { %>
                    <% if(typeof(active)!=='undefined' && active==='create') { %>
                        <li class="active">
                     <% } else {%>
                        <li>
                    <% }%>
                    <a href="/posts/create">发表文章</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!user) { %>
                    <li><a href="/signin">登录</a></li>
                    <li><a href="/signup">注册</a></li>
                <% } else { %>
                    <li><a href="/signout">登出</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>