<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文章列表</title>
    <!-- Bootstrap -->
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <title>Title</title>
    <style type="text/css">
        .content-foot {
            float: right;
        }
    </style>
</head>
<body>

<%- include('nav') %>

<div class="container">
    <div class="row">
        <% if(success){ %>
        <div id="message" class="alert alert-success col-md-12 col-xs-12"><%= success %></div>
        <% }%>
        <% if(error){ %>
        <div id="message" class="alert alert-danger col-md-12 col-xs-12"><%= error %></div>
        <% }%>
    </div>
    <div class="row panel panel-default">
        <div class=" col-xs-12 col-md-12 panel-body">
            <h2>Hello World</h2>
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div >
                <span>2015-12-01 12:23:09</span>
                <a class="content-foot" href="#">留言（3）</a>
                <a class="content-foot" href="#">浏览（23）</a>
            </div>
        </div>
    </div>
    <div class="row panel panel-default">
        <div class=" col-xs-12 col-md-12 panel-body">
            <h2>Hello World</h2>
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div >
                <span>2015-12-01 12:23:09</span>
                <a class="content-foot" href="#">留言（3）</a>
                <a class="content-foot" href="#">浏览（23）</a>
            </div>
        </div>
    </div>
    <div class="row panel panel-default">
        <div class=" col-xs-12 col-md-12 panel-body">
            <h2>Hello World</h2>
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div >
                <span>2015-12-01 12:23:09</span>
                <a class="content-foot" href="#">留言（3）</a>
                <a class="content-foot" href="#">浏览（23）</a>
            </div>
        </div>
    </div>
    <div class="row panel panel-default">
        <div class=" col-xs-12 col-md-12 panel-body">
            <h2>Hello World</h2>
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div >
                <span>2015-12-01 12:23:09</span>
                <a class="content-foot" href="#">留言（3）</a>
                <a class="content-foot" href="#">浏览（23）</a>
            </div>
        </div>
    </div>
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="/javascript/jquery-3.1.1.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
  setTimeout(function () {
    $('#message').fadeOut();
  }, 3000);
</script>
</body>
</html>