<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <title>注册</title>
</head>
<body>

<%- include('nav') %>

<div class="container main">
    <div class="row">
        <% if(success){ %>
            <div class="alert alert-success col-md-12 col-xs-12"><%= success %></div>
        <% }%>
        <% if(error){ %>
            <div class="alert alert-danger col-md-12 col-xs-12"><%= error %></div>
        <% }%>
    </div>
    <form class="form-signup" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>用户名</label>
                    <input class="form-control" type="text" name="name" placeholder="请输入用户名"/>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input class="form-control" type="password" name="password" placeholder="请输入密码"/>
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <input class="form-control" type="password" name="repassword" placeholder="请输入确认密码"/>
                </div>
                <div class="form-group">
                    <label for="sex">性别</label>
                    <select class="form-control" id="sex" name="gender">
                        <option value="m">男</option>
                        <option value="f">女</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">个人简介</label>
                    <textarea class="form-control" id="description" name="bio" rows="5" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </div>
        </div>
    </form>
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="/javascript/jquery-3.1.1.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>